
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppons', sans-serif;
}

/* MAIN PAGE*/
.hero{
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
nav .logo{
  width: 80px;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a{
  width: max-content;
  text-decoration:dashed;
  color:rgb(206, 206, 239);
  font-size: 19px;
  cursor: pointer;
  margin: 100px auto;
  position: relative;
}
nav ul li a::after{
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2px;
  width: 100%;
  left: 0;
  background: rgb(206, 206, 239);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  font-size: 19px;
}
nav ul li a:hover::after{
  font-size: 22px;
  transform: scaleX(1);
  background: #f0911de2;
  
}
.content{
  color: rgb(117, 195, 195);
  text-align: center;
}
.content h1{
  font-size: 160px;
  columns: #ffffff;
  font-weight: 600;
  transition: 0.s;
}
.content h1:hover{
  -webkit-text-stroke: 2px #ffffff;
  color: transparent;
}
    /* BUTTON START */
.content a{
  --glow-color: rgb(217,176,255);
  --glow-spread-color: rgba(191,123,255,0.781);
  --enhanced-glow-color: rgb(206, 164, 246);
  --btn-color: rgb(72, 42, 100);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 22px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.15em var(--glow-color),
              0 0 4em 1em var(--glow-color),
              inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  top: 2em;
}
.content a::after{
pointer-events: none;
content: "";
position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(1em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1,0.6);
}
.content a:hover{
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
              0 0 4em 2em var(--glow-spread-color),
              inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  font-size: 21px;
  text-transform:uppercase;
}
.content a:active{
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 0.5em 0.25em var(--glow-color);
}
    /* BUTTON END */

.back{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9){
  .back{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .back{
    width: auto;
    height: 100%;
  }
}

svg {
    display: block;
    font: 17em 'Montserrat';
    width: 100%;
    height: 280px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: rgba(219, 141, 45, 0.825);
    stroke-dasharray: 6% 29%;
    stroke-width: 9px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 2.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #fdfdfd;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #22b3b3aa;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #790e62e2;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #e2e1e1;
	animation-delay: -4s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
    /* HERO END*/

/* PRELOADER START */
#preloader{
	background: #000000 url(IMG/loader.gif) no-repeat center center;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
	box-shadow: inset 0 0 10vmin 0 #423f3f;
}
		/* PRELOADER END */
    
    /* FOOTER START*/
body{
  background: #030303;
}
footer{
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, #00093c, #2d0b00) ;
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}
.row{
  max-height:em;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: px;
}
.col:nth-child(2), .col:nth-child(3){
 flex-basis: 15%; 
}
.F_logo{
  width: 150px;
  margin-bottom: 0px;
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
.email-id a{
  color: #e2e1e1;
}
.email-id a:hover{
  font-size: 18px;
  color: rgb(148, 118, 199);
}
ul li{
  list-style: none;
  margin-bottom: 12px;
}
ul li:hover{
  font-size: 2em;
  font-style: oblique;
  text-decoration: underline;
}
ul li a{
  text-decoration: none;
  color: seashell;
}
form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .fa-solid{
  font-size: 18px;
  margin-right: 10px;
}
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fa-solid{
  font-size: 16px;
  color: #ccc;
}
.social-icon .fa-brands{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000000;
  background: white;
  margin-right: 15px;
  cursor: pointer;
}
hr{
  width: 90%;
  border: 0c;
  border-bottom: 1px solid #962e2e;
  margin: 20px auto;
}
.copyright{
  text-align: center;
  font-size: 15px;
}
.underline{
  width: 100px;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0%;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0px;
  left: 10%;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
@media (max-width: 700px){
  footer{
    bottom: unset;
  }
  .col{
    flex-basis: 100%;
  }
  .col:nth-child(2), .col:nth-child(3){
  flex-basis: 100%; 
  }
}
    /* FOOTER END*/
    
.line{
  position: relative;
  top: 25%;
  width: 50em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,0.75);
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 8s steps(75) 1s 10 normal both,
  blinkTextCursor 500ms steps(75) infinite normal;
}

@keyframes typewriter {
  from{
    width: 0;
  }
  to{
    width: 50em;
  }
}

@keyframes blinkTextCursor {
  from{
    border-right-color: rgba(255,255,255,0.75);
  }
  to{
    border-right-color: transparent;
  }
}
